body{
    margin: 0;
    padding: 0;
    /*background-image: url("/media/images/oboi.png");*/
    /*background-position: center;*/
    /*background-size: cover;*/
}
.btn-primary1{
    color: #fff;
    border-color: #007bff;
}
.btn-prmr{
    color: #007bff;
    border-color: #007bff;
}
.btn-prmr:hover{
    color: #fff;
    background-color: #007bffe0;
    border-color: #007bff;
    opacity: 0.7;
}
.txt-p{
    font-size: 25px;
    font-family: Verdana;
    line-height: 40px;
}
.mrg-bt{
    margin-bottom: 45px;
}
.mrg-tp{
    margin-top: 30px;
}
.btn-primary6{
    color: #fff;
    border-color: #007bff;
}
.btn-primary6:hover{
    color: #fff;
    background-color: #007bffe0;
    border-color: #007bff;
}
.c-tc-img{
    width: 70%;
}
.mg-bottom{
  margin-bottom: 15px;
}
.pd-bt{
    padding-bottom: 70px;
}
.btn-primary2{
  padding: 10px 20px;
  background-color: #222736;
  color: white;
  border-radius: 5px;
}
.vdo-h{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.vdo-h h1{
    color: #0b0b0b;
    font-size: 20px;
    font-weight: bold;
}
