<html lang="zxx"><head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/media/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/media/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/media/css/fontawesome.css" type="text/css">
    <link rel="stylesheet" href="/media/css/fontawesome.min.css" type="text/css">
    <link rel="stylesheet" href="/media/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/media/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/media/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/media/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/media/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/media/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/media/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/media/css/style.css" type="text/css">
    <link rel="stylesheet" href="/media/css/style-video.css">
    <link rel="stylesheet" href="/media/css/css-index.css">
    {% block style %}
    {% endblock %}
</head>

<body>
    {%  block container %}
    {% endblock %}

    {% block script %}
    {% endblock %}

    <script src="/media/js/jquery-3.3.1.min.js"></script>
    <script src="/media/js/bootstrap.min.js"></script>
    <script src="/media/js/jquery.magnific-popup.min.js"></script>
    <script src="/media/js/jquery.nice-select.min.js"></script>
    <script src="/media/js/jquery-ui.min.js"></script>
    <script src="/media/js/jquery.slicknav.js"></script>
    <script src="/media/js/owl.carousel.min.js"></script>
    <script src="/media/js/main.js"></script>
    <script src="/media/js/js-contact.js"></script>
</body>
</html>