{% extends 'base.html' %}
{% block title %}Контакт{% endblock %}
{% block container %}
<nav class="navbar navbar-dark bg-dark mrg-bt">
    <a href="/" class="btn-primary2" role="button" aria-pressed="true">❮ артқа</a>
</nav>
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-text">
                        <h2>Контакттар</h2>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="c-o">Адрес:</td>
                                    <td>{{ infos.adress }}</td>
                                </tr>
                                <tr>
                                    <td class="c-o">Телефон:</td>
                                    <td>{{ infos.phone }}</td>
                                </tr>
                                <tr>
                                    <td class="c-o">Email:</td>
                                    <td>{{ infos.email }}</td>
                                </tr>
                                <tr>
                                    <td class="c-o">Fax:</td>
                                    <td>{{ infos.fax }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-7 offset-lg-1">
                    <form action="/contact/" id="form5" class="contact-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" name="name" placeholder="Аты Жөні">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" name="email" placeholder="Email">
                            </div>
                            <div class="col-lg-12">
                                <textarea name="description" placeholder="Сипаттама"></textarea>
                                <input type="hidden" name="action" value="send">
                                <button type="submit">жіберу</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer-section fixed-bottom">

        <div class="copyright-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul>
                            <li><a href="/obuchenie">Дайындалу</a></li>
                            <li><a href="/masterklass">Мастер класс</a></li>
                            <li><a href="https://ticketon.kz/">Билет алу</a></li>
                            <li><a href="/contact">Контакттар</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}