{% extends 'base.html' %}
{% block title %}Контакт{% endblock %}
{% block container %}

    <section class="contact-section spad">
        <div class="container mg-bottom">
            <div class="text-left">
                <a href="/" class="btn-primary1" role="button" aria-pressed="true">❮ Назад</a>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-text">
                        <h2>Контакты</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="c-o">Адрес:</td>
                                    <td>{{ infos.adress }}</td>
                                </tr>
                                <tr>
                                    <td class="c-o">Телефон:</td>
                                    <td>{{ infos.phone }}</td>
                                </tr>
                                <tr>
                                    <td class="c-o">Email:</td>
                                    <td>{{ infos.email }}</td>
                                </tr>
                                <tr>
                                    <td class="c-o">Fax:</td>
                                    <td>{{ infos.fax }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-7 offset-lg-1">
                    <form action="/contact/" id="form5" class="contact-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" name="name" placeholder="Your Name">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" name="email" placeholder="Your Email">
                            </div>
                            <div class="col-lg-12">
                                <textarea name="description" placeholder="Your Message"></textarea>
                                <input type="hidden" name="action" value="send">
                                <button type="submit">отправить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer-section">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-newslatter">
                            <h6>New latest</h6>
                            <p>Оставьте свою электронную почту и получите в подарок аудиокнигу.</p>
                            <form action="#" class="fn-form">
                                <input type="text" placeholder="Email">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul>
                            <li><a href="/obuchenie">Дайындалу</a></li>
                            <li><a href="/masterklass">Мастер класс</a></li>
                            <li><a href="https://ticketon.kz/">Билет алу</a></li>
                            <li><a href="/contact">Контакты</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}