{% extends 'base.html' %}
{% block title %}{{ posts.title }}{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/media/css/css-index.css">
{% endblock %}
{% block container %}

    <nav class="navbar navbar-dark bg-dark ">
        <a href="/obuchenie" class="btn-primary2" role="button" aria-pressed="true">❮ артқа</a>
    </nav>
    {% if posts.logo %}
    <div class="mrg-tp" style="text-align: center">
{#        <iframe width="100%" height="500px" src="https://www.youtube.com/embed/{{ posts.link_video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
        <img style="width: 70%; height: 200px;" src="/media/{{ posts.logo }}" >
    </div>
    {% endif %}
    <div class="container vdo-h">
        <h1 class="text-center">{{ posts.title }}</h1>
    </div>
    <div class="container">
        <p class="font-weight-light">{{ posts.description }}</p>
    </div>
    {% if posts.description1 %}
        <div class="container mrg-lf">
            <p class="font-weight-light">{{ posts.description1 }}</p>
        </div>
    {% endif %}
    {% if posts.description2 %}
        <div class="container">
            <p class="font-weight-light">{{ posts.description2 }}</p>
        </div>
    {% endif %}
    {% if posts.description3 %}
        <div class="container mrg-lf">
            <p class="font-weight-light">{{ posts.description3 }}</p>
        </div>
    {% endif %}
    <footer class="footer-section fixed-bottom">
        <div class="copyright-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul>
                            <li><a href="/obuchenie">Дайындалу</a></li>
                            <li><a href="/masterklass">Мастер класс</a></li>
                            <li><a href="https://ticketon.kz/">Билет алу</a></li>
                            <li><a href="/contact">Контакттар</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}