{% extends 'base.html' %}
{% block title %}Меню{% endblock %}
    {% block style %}
    <link rel="stylesheet" href="/media/css/css-index.css">
    {% endblock %}
{% block container %}
<div class="container mrg-bt mrg-tp">
    <div class="text-center">
      <img src="/media/images/logo.png" class="rounded img-logo c-tc-img" alt="">
    </div>
</div>
<div class="container mrg-bt">
    <p class="text-center text-uppercase font-weight-bold font-weight-light txt-p">Актерлык, шеберликке дайындау косымшасы </p>
</div>
<div class="container mrg-bt">
    <div class="text-center">
        <a class="btn btn-prmr btn-lg btn-block " href="/obuchenie">Дайындалу</a>
        <a class="btn btn-prmr btn-lg btn-block" href="/masterklass">Мастер класс</a>
        <a class="btn btn-prmr btn-lg btn-block" href="https://ticketon.kz/">Билет алу</a>
        <a class="btn btn-prmr btn-lg btn-block" href="/contact">Контакт</a>
    </div>
</div>
{% endblock %}