{% extends 'base.html' %}
{% block title %}Меню{% endblock %}
    {% block style %}
    <link rel="stylesheet" href="/media/css/css-index.css">
    {% endblock %}
{% block container %}
<div class="container mg-bottom">
    <div class="text-center">
      <img src="/media/images/logo.png" class="rounded img-logo c-tc-img" alt="">
    </div>
</div>
<div class="container">
    <p class="text-center">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
</div>
<div class="container">
    <div class="text-center">
        <button type="button" class="btn btn-primary6 btn-lg btn-block"><a href="/obuchenie">Дайындалу</a></button>
        <button type="button" class="btn btn-primary6 btn-lg btn-block"><a href="/masterklass">Мастер класс</a></button>
        <button type="button" class="btn btn-primary6 btn-lg btn-block"><a href="https://ticketon.kz/">Билет алу</a></button>
        <button type="button" class="btn btn-primary6 btn-lg btn-block"><a href="/contact">Контакт</a></button>
    </div>
</div>
{% endblock %}