{% extends 'base.html' %}
{% block title %}Мастерклассы{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/media/css/css-index.css">
{% endblock %}
{% block container %}

<nav class="navbar navbar-dark bg-bl mrg-bt">
    <a href="/" class="btn-primary2" role="button" aria-pressed="true">❮ артқа</a>
</nav>
<div class="">
    {% for vd in videos %}
    <div class="container mg-bottom">
        <div class="text-center">
            <div style="width: 90%; display: inline-flex; flex-direction: column;">
                <iframe width="100%" height="200px" src="https://www.youtube.com/embed/{{ vd.link_video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="" style="width: 100%;padding-top: 10px;">
                    <p class="text-center v-p"><a href="{{ vd.id }}">{{ vd.title }}</a></p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<footer class="footer-section ft-a">
    <div class="copyright-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <ul>
                        <li><a class="ft-a" href="/obuchenie">Дайындалу</a></li>
                        <li><a target="_blank" href="https://ticketon.kz/">Билет алу</a></li>
                        <li><a href="/contact">Контакттар</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock %}