{% extends 'base.html' %}
{% block title %}Мимика{% endblock %}
    {% block style %}
    <link rel="stylesheet" href="/media/css/css-index.css">
    {% endblock %}
{% block container %}
    <nav class="navbar navbar-dark bg-dark mrg-bt">
        <a href="/obuchenie" class="btn-primary2" role="button" aria-pressed="true">❮ Назад</a>
    </nav>
    <div class="container mrg-bt pd-bt">
        <div class="text-center">
            {% for ct in categorys %}
            <a class="btn btn-prmr btn-lg btn-block" href="{{ ct.id }}">{{ ct.title }}</a>
            {% endfor %}
        </div>
    </div>
    <footer class="footer-section fixed-bottom">
        <div class="copyright-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul>
                            <li><a href="/obuchenie">Дайындалу</a></li>
                            <li><a href="/masterklass">Мастер класс</a></li>
                            <li><a href="https://ticketon.kz/">Билет алу</a></li>
                            <li><a href="/contact">Контакттар</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
