{% extends 'base.html' %}
{% block title %}Меню{% endblock %}
    {% block style %}
    <link rel="stylesheet" href="/media/css/css-index.css">
    {% endblock %}
{% block container %}
<div class="container mg-bottom">
    <div class="text-left">
        <a href="/" class="btn-primary2" role="button" aria-pressed="true">❮ Назад</a>
    </div>
</div>
<div class="container mg-bottom">
    <div class="text-center">
        {% for ct in categorys %}
        <button type="button" class="btn btn-primary6 btn-lg btn-block"><a href="{{ ct.id }}">{{ ct.title }}</a></button>
        {% endfor %}
    </div>
</div>
<div class="container mg-bottom">
    <div class="text-center">
        {% for cg in ctg %}
        <button type="button" class="btn btn-primary6 btn-lg btn-block"><a href="category/{{ cg.id }}">{{ cg.title }}</a></button>
        {% endfor %}
    </div>
</div>
{% endblock %}