<meta charset="UTF-8">
    <title>Title</title>
    <script src="/media/js/cropper-js/jquery.js"></script>
    <script src="/media/js/cropper-js/jquery.min.js"></script>
    <link rel="stylesheet" href="/media/css/cropper-css/bootstrap.min.css">
{#    <link rel="stylesheet" href="/media/css/cropper-css/css-cropper.css">#}
{#    <link rel="stylesheet" href="/media/css/cropper-css/cropper.css">#}
{#    <link rel="stylesheet" href="/media/css/cropper-css/dropzone.css">#}
{#    <script src="/media/js/cropper-js/cropper.js"></script>#}
{#    <script src="/media/js/cropper-js/bootstrap.min.js"></script>#}
{#    <script src="/media/js/cropper-js/js-dropzone.js"></script>#}
{#    <script src="/media/js/cropper-js/js-cropper.js"></script>#}
    <link rel="stylesheet" href="/media/css/css-index.css">